Repository approvers/containers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @raiga0310, @kawaemon, @siketyan, @MikuroXina, @unios103, @loxygenK, @mirror-kt, @Colk-tech

Use unless-stopped restart policy in all containers (#48)
  AHOXA/docker-compose.yml
  cadocr/docker-compose.yml
  contacts_gateway/docker-compose.yml
  delitter/docker-compose.yml
  dockerps-web/docker-compose.yml
  genkai_dictionary/docker-compose.yml
  githubsecretary/docker-compose.yml
  imperial_police/docker-compose.yml
  kotoli/docker-compose.yml
  members-db-rust/docker-compose.yml
  nginx/docker-compose.yml
  pindome_chan/docker-compose.yml
  vc_list_bot/docker-compose.yml
Owners: @raiga0310, @siketyan, @loxygenK, @kawaemon, @MikuroXina, @Colk-tech, @mirror-kt, @unios103

Add settings for containers.approvers.dev
  nginx/conf/default.conf
Owners: @siketyan

Add settings for containers.approvers.dev (#50)
  nginx/conf/default.conf
Owners: @siketyan

Fix chain certificates are not provided
  nginx/conf/db.siketyan.approvers.dev.conf
  nginx/conf/default.conf
  nginx/conf/gateway.siketyan.approvers.dev.conf
Owners: @siketyan

Fix chain certificates are not provided (#51)
  nginx/conf/db.siketyan.approvers.dev.conf
  nginx/conf/default.conf
  nginx/conf/gateway.siketyan.approvers.dev.conf
Owners: @siketyan

Add docker-compose.yml for femalifing_com
  femalifing_com/docker-compose.yml
Owners: none

Add nginx setting for mesuochi.com
  nginx/conf/mesuochi.com.conf
Owners: @siketyan

Replaced space indents with tab indents
  femalifing_com/docker-compose.yml
Owners: none

Fixed incorrect image path
  femalifing_com/docker-compose.yml
Owners: none

I completely overlook 'NOT'
  femalifing_com/docker-compose.yml
Owners: none

NO GOING AGAINST BAD NEOVIM OKAY
  femalifing_com/docker-compose.yml
Owners: none

.github/CODEOWNERS:

/AHOXA/ @raiga0310
/dockerps-web/ @kawaemon
/members-db-rust/ @siketyan
/nginx/ @siketyan
/pindome_chan/ @MikuroXina
/vc_list_bot/ @unios103
/githubsecretary/ @MikuroXina
/genkai_dictionary/ @loxygenK
/kotoli/ @mirror-kt
/cadocr/ @siketyan
/contacts_gateway/ @siketyan
/delitter/ @loxygenK
/imperial_police/ @Colk-tech
